.App {
  display: flex;
  justify-content: center ;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  width: 100vw;
  height: 100vh;
  background-color: silver;
}


.timer{
  color: green;
  font-size: 120px;
}
.buttons{
  display: flex;
  gap: 10px;
}
.buttons button{
  width: 100px;
  height: 70px;
  padding: 5px;
  color: red;
  background-color: blue;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 24px;
  border-radius: 5px;
  border: 0;
}
.buttons button:hover{
  color: black;
  background-color:gold;
}
